@import "../bootstrap/css/bootstrap.min.css";
@import "../css/cartFull.css";
@import "../css/cart.css";
@import "../css/Inter.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css";
$primary: #1b1919;
$miniature-size: 150px;
.btn-primary {
  background-color: $primary;
  border: $primary;
}
.miniature {
  height: $miniature-size;
  width: $miniature-size;
}
.switch {
  height: 40px;
  width: 40px;
}
#moreOption {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  &.show {
    opacity: 1;
    height: auto;
  }

}
